# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
venv/
.env

# Build
build/
dist/
*.egg-info/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# OS
desktop.ini
Desktop.ini

